In [9]:
first_name="Muhammad"
last_name="Adil"
institute_name = "Saylani Mass IT Training"


card= "Institute name : " + institute_name +"\nStudent Full name : " + first_name+ ""+ last_name
print(card)

Institute name : Saylani Mass IT Training
Student Full name : MuhammadAdil

In [12]:
first_name="Muhammad"
last_name="Adil"
institute_name = "Saylani Mass IT Training"
age=30


card= "Institute name : " + institute_name +"\nStudent Full name : " + first_name+ " "+ last_name+"\nAge : "+str(age)
print(card)

Institute name : Saylani Mass IT Training
Student Full name : Muhammad Adil
Age : 30

In [16]:
first_name="Muhammad"
last_name="Adil"
institute_name = "Saylani Mass IT Training"
age=30  

card= """Institute_name: {}
Full_name: {} {}
age:{}

""".format(institute_name,first_name,last_name,age)
print(card)

Institute_name: Saylani Mass IT Training
Full_name: Muhammad Adil
age:30

In [17]:
first_name="Muhammad"
last_name="Adil"
institute_name = "Saylani Mass IT Training"
age=30  

card=f"""Institute Name:{institute_name}
Student Full Name:{first_name} {last_name}
Age:{age}

"""
print(card)

Institute Name:Saylani Mass IT Training
Student Full Name:Muhammad Adil
Age:30

In [21]:
first_name = "Muhammad"
last_name = "Adil"
institute_name = "Saylani Mass IT Training"
age = 30


card = """Institute Name: %s 
Student Full Name: %s %s
Age: %d
""" % (institute_name, first_name, last_name, age)

print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Adil
Age: 30

In [22]:
for  idx, i in enumerate([i for i in dir(card) if "_" not in i]):
    print(idx,i)

0 capitalize
1 casefold
2 center
3 count
4 encode
5 endswith
6 expandtabs
7 find
8 format
9 index
10 isalnum
11 isalpha
12 isascii
13 isdecimal
14 isdigit
15 isidentifier
16 islower
17 isnumeric
18 isprintable
19 isspace
20 istitle
21 isupper
22 join
23 ljust
24 lower
25 lstrip
26 maketrans
27 partition
28 removeprefix
29 removesuffix
30 replace
31 rfind
32 rindex
33 rjust
34 rpartition
35 rsplit
36 rstrip
37 split
38 splitlines
39 startswith
40 strip
41 swapcase
42 title
43 translate
44 upper
45 zfill

In [23]:
print(card.capitalize())

Institute name: saylani mass it training
student full name: muhammad adil
age: 30

In [24]:
print(card.casefold())

institute name: saylani mass it training
student full name: muhammad adil
age: 30

In [28]:
print(card.center(10))

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Adil
Age: 30

In [36]:
print(card)

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Adil
Age: 30

In [37]:
print(card)
card.count('Adil')

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Adil
Age: 30

1

In [38]:
txt = "My name is St√•le"

print(txt.encode(encoding="ascii",errors="backslashreplace"))
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is St\\xe5le'
b'My name is Stle'
b'My name is St\\N{LATIN SMALL LETTER A WITH RING ABOVE}le'
b'My name is St?le'
b'My name is St&#229;le'

In [42]:
print(card.endswith('l'))

False

In [43]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [44]:
print(card.find("Adil"))

70

In [45]:
animals = ['cat', 'dog', 'rabbit', 'horse']


index = animals.index('dog')


print(index)

1

In [46]:
print(card.isalnum())

False

In [47]:
print(card.isalpha())

False

In [48]:
print(card.isascii())

True

In [49]:
print(card.isdecimal())

False

In [51]:
print(card.isdigit())

False

In [52]:
print(card.isidentifier())

False

In [53]:
print(card.islower())

False

In [54]:
print(card.isnumeric())

False

In [55]:
print(card.isprintable())

False

In [56]:
print(card.isspace())

False

In [57]:
print(card.istitle())

False

In [59]:
print(card.isupper())

False

In [60]:
# elements in tuples
list1 = ('1', '2', '3', '4')
 

s = "-"
 

s = s.join(list1)

print(s)

1-2-3-4

In [61]:
txt = "Hello Sam!"

mytable = str.maketrans("S", "P")

print(txt.translate(mytable))

Hello Pam!

In [62]:
new_string = 'GeeksforGeeks'.removeprefix("Geeksfor")
print(new_string)

Geeks

In [63]:
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [64]:
print(card.strip())

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Adil
Age: 30

In [65]:
print(card.swapcase())

iNSTITUTE nAME: sAYLANI mASS it tRAINING
sTUDENT fULL nAME: mUHAMMAD aDIL
aGE: 30

In [66]:
print(card.title())

Institute Name: Saylani Mass It Training
Student Full Name: Muhammad Adil
Age: 30

In [69]:
print(card.zfill(10))

Institute Name: Saylani Mass IT Training
Student Full Name: Muhammad Adil
Age: 30